[package]
name = "graphql-ws-client"
version = "0.1.0"
authors = ["Graeme Coupar <graeme@polyandglot.dev>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# TODO: this should not be the default
default = ["async-tungstenite"]

[dependencies]
async_executors = { version = "0.4" }
futures = { version = "0.3"}
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
uuid = { version = "0.8", features = ["v4"] }

async-tungstenite = { version = "0.12", optional = true }