[package]
name = "graphql-ws-client"
version = "0.2.0"
authors = ["Graeme Coupar <graeme@polyandglot.dev>"]
edition = "2018"
description = "A graphql over websockets client"
keywords = ["graphql", "client", "api", "websockets", "subscriptions"]
license = "Apache-2.0"
autoexamples = false
documentation = "https://docs.rs/graphql-ws-client"
readme = "README.md"

[workspace]
members = ["examples"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["async-tungstenite"]
client-cynic = ["async-tungstenite", "cynic"]
client-graphql-client = ["async-tungstenite", "graphql_client"]
no-logging = []

[dependencies]
futures = "0.3"
log = "0.4"
pin-project = "1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
uuid = { version = "0.8", features = ["v4"] }
pin-project-lite = "0.2.7"
pharos = { version = "0.5.2" }

cynic = { version = "1.0", optional = true }
async-tungstenite = { version = "0.17", optional = true }
graphql_client = { version = "0.10.0", optional = true }

ws_stream_wasm = { version = "0.7", optional = true }

[dev-dependencies]
insta = "1.11"
