[package]
name = "examples"
version = "0.1.0"
authors = ["Graeme Coupar <grambo@grambo.me.uk>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
graphql-ws-client = { path = "../", default-features = false, features = ["cynic", "async-tungstenite"] }
async-std = { version = "1.9", features = ["attributes"] }
async_executors = { version = "0.5", features = ["async_std"] }
cynic = { version = "1.0" }
futures = { version = "0.3"}
log = "0.4"

async-tungstenite = { version = "0.17", features = ["async-std-runtime", "tokio-runtime"] }
tokio = { version = "1.15", features = ["rt-multi-thread", "macros"] }
pretty_env_logger = "0.4"

[dev-dependencies]
insta = "1.11"
